body{
  background:cadetblue
}

#card{
  border: 7px solid mediumslateblue;
  width: 500px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  position: absolute;top:10%;left:40%;
  background: whitesmoke;
}

.profile-info {
  text-align: center;
}


.profile-image{
  border-radius: 2%;
}

.github-profile{
  margin: 5%;
  background: cadetblue;
  border-radius: 2%;
}

#profile-data {
  display: flex;
  flex-direction: row;
  border: 2px black;
}

a{
  text-decoration: none;
  color: white;
}
